<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/styles/prints.css">
    <title>I Am Beautiful - Prints</title>
  </head>

  <body>
    <div id="page-cover">
      <div id="image-slider">
        <div id="image-slider-nav"><div id="arrow-left"></div></div>
        <div id="image-slider-images"></div>
        <div id="image-slider-nav"><div id="arrow-right"></div></div>
      </div>
    </div>

    <div id="image-cards">
      <div class="image-card"></div>
      <div class="image-card"></div>
      <div class="image-card"></div>
      <div class="image-card"></div>
      <div class="image-card"></div>
      <div class="image-card"></div>
      <div class="image-card"></div>
      <div class="image-card"></div>
      <div class="image-card"></div>
      <div class="image-card"></div>
      <div class="image-card"></div>
      <div class="image-card"></div>
    </div>
  </body>
</html>
