<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/styles/prints.css">
    <title>I Am Beautiful - Prints</title>
  </head>

  <body>
    <h1>I Am Beautiful</h1>

    <div class="main-container">
      <div class="img-holder"></div>
      <div class="img-holder"></div>
      <div class="img-holder"></div>
      <div class="img-holder"></div>
      <div class="img-holder"></div>
      <div class="img-holder"></div>
      <div class="img-holder"></div>
      <div class="img-holder"></div>
      <div class="img-holder"></div>
      <div class="img-holder"></div>
      <div class="img-holder"></div>
      <div class="img-holder"></div>
    </div>
  </body>
</html>
