<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/styles/global.css">
    <link rel="stylesheet" href="/styles/prints.css">
    <title>I Am Beautiful - Prints</title>
  </head>

  <body>
    <header>
      <a href="/admin/pages/home" id="header">I Am Beautiful</a>
      <nav>
        <a href="/admin/pages/postcards">Postcards</a>
        <a href="/admin/pages/prints">Prints</a>
        <a href="/admin/pages/blog">Blog</a>
        <a href="/admin/pages/cart">Cart</a>
      </nav>
    </header>

    <div class="page-content">
      <div id="prints">
        <div class="print"></div>
        <div class="print"></div>
      </div>
    </div>
  </body>
</html>
