<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/styles/tempindex.css">
    <title>I Am Beautiful - Landing Page</title>
  </head>

  <body>
    <div id="main-image"></div>

    <nav>
      <h1>I Am Beautiful</h1>
      <ul>
        <li><a href="/admin/pages">Home</a><div class="underline"></div></li>
        <li><a href="/admin/pages/blog">Blog</a><div class="underline"></div></li>
        <li><a href="/admin/pages/portfolio">Portfolio</a><div class="underline"></div></li>
      </ul>
    </nav>

    <p id="intro">This is an introduction about the project</p>

    <h1>Postcards</h1>
    <div id="postcards">
      <div class="postcard"></div>
      <div class="postcard"></div>
      <div class="postcard"></div>
    </div>

    <h1>Prints</h1>
    <div id="prints">
      <div class="print"></div>
      <div class="print"></div>
      <div class="print"></div>
    </div>

    <h1>Testamonials</h1>
    <div class="testamonial">
      <div class="testamonial-image"></div>
      <div class="testamonial-image"></div>
      <div class="testamonial-image"></div>
    </div>

    <p>This is a the closing paragraph</p>

    <h1>Sign up for our newsletter</h1>
    <form action="/signup" method="post">
      <div>
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" placeholder="Susan">

        <label for="email">Email:</label>
        <input type="email" name="email" id="email" placeholder="susan@mail.com">
      </div>

      <div>
        <p>Agree to our terms of service</p>
        <label for="agreed">I Agree</label>
        <input type="checkbox" name="agreed" id="agreed">

        <button type="submit">Sign Up</button>
      </div>
    </form>
  </body>
</html>
