<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/styles/index.css">
    <title>I Am Beautiful - Landing Page</title>
  </head>

  <body>
    <h1>I Am Beautiful</h1>
    <p>This is an introduction about the project</p>
    <h1>Postcards</h1>
    <h1>Prints</h1>
    <h1>Testamonials</h1>
    <p>This is a the closing paragraph</p>
    <h1>Sign up for our newsletter</h1>
  </body>
</html>
