.page-content{
  display: flex;
  justify-content: center;
  align-items: center;
}

.panel{
  background-color: purple;
  max-width: 60rem;
  width: 100%;
  height: 0;
  overflow: hidden;
}

#checkout-panel{
  display: flex;
  flex-flow: nowrap column;
  align-items: flex-end;
  padding: 0rem 1rem;
  border-radius: 0.5rem;
}

#checkout-panel button{
  background-color: lime;
  padding: 1rem 4rem;
  border: 0;
  border-radius: 0.3rem;
  margin: 1rem 0rem;
  font-weight: bolder;
}

#checkout-panel button:hover{
  background-color: lightblue;
  cursor: pointer;
}

#checkout-items{
  width: 100%;
}

#checkout-items .odd{
  background-color: green;
}

#checkout-items .even{
  background-color: lime;
}

#checkout-items td{
  padding: 0.5rem 1rem;
}

.checkout-heading{
  text-align: center;
  font-size: 16pt;
}

#shipping-panel{
  background-color: orange;
  display: flex;
  flex-flow: nowrap column;
  align-items: center;
  width: 40rem;
  border-radius: 0.5rem;
}

#shipping-panel div{
  display: flex;
  flex-flow: nowrap row;
  margin: 0.5rem;
  width: 80%;
}

#shipping-panel div label{
  width: 100%;
  text-align: right;
  padding: 0.2rem;
  font-size: 16pt;
}

#shipping-panel div input{
  width: 100%;
  padding: 0.2rem 0.5rem;
  font-size: 14pt;
  border-radius: 0.2rem;
  border: 0;
}

#shipping-panel button{
  background-color: lime;
  padding: 1rem 4rem;
  border: 0;
  border-radius: 0.3rem;
  margin: 1rem 0rem;
  font-weight: bolder;
  width: 15rem
}

#shipping-panel button:hover{
  background-color: lightblue;
  cursor: pointer;
}
