#postcards{
  max-width: 60rem;
  display: flex;
  flex-flow: wrap row;
  justify-content: center;
}

.postcard{
  width: 15rem;
  height: 15rem;
  background-color: purple;
  margin: 2rem;
}

.postcard:hover{
  background-color: pink;
  cursor: pointer;
}

#card-demo{
  position: fixed;
  z-index: 0;
  width: 100%;
  height: 0;
  background-color: #00000099;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#dc-main{
  background-color: yellow;
  width: 30rem;
  height: 35rem;
  display: flex;
  flex-flow: nowrap column;
}

#dc-main div{
  border: 1px solid black;
  width: 100%;
  height: 100%;
}
