body{
  margin: 0;
  background-color: white;
}

h1{
  font-size: 32pt;
  text-align: center;
  margin-top: 30vh;
}

h2{
  text-align: center;
  font-size: 24pt;
  margin-top: 15vh;
  background-color: white;
  color: purple;
}

#main-image{
  background-image: url("../images/placeholder.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 150vh;
  position: absolute;
  z-index: -1;
}

nav{
  display: flex;
  flex-flow: nowrap column-reverse;
}

nav ul{
  list-style-type: none;
  padding: 0;
  display: flex;
}

nav ul li{
  width: 100%;
  height: 2rem;
  text-align: center;
  display: flex;
  flex-flow: nowrap column;
  justify-content: space-around;
}

.underline{
  width: 0%;
  height: 5px;
  background-color: purple;
  transition: 0.5s;
}

nav ul li:hover .underline{
  width: 100%;
}

#intro{
  margin-top: 100vh;
}

#postcards{
  background-color: white;
  display: flex;
  flex-flow: wrap row;
  justify-content: space-around;
  align-items: center;
  min-height: 75vh;
}

.postcard{
  background-image: url("../images/placeholder.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 20rem;
  height: 15rem;
  margin: 1rem;
  box-shadow: 0 1rem 1rem 0 #666666;
}

.postcard h3{
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #555555BB;
  display: flex;
  justify-content: center;
  align-items: center;
}

.postcard:hover h3{
  background-color: #555555;
}

#prints{
  background-color: white;
  display: flex;
  flex-flow: wrap row;
  justify-content: space-around;
  align-items: center;
  min-height: 75vh;
}

.print{
  background-image: url("../images/placeholder.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 20rem;
  height: 15rem;
  margin: 0.5rem;
  box-shadow: 0 1rem 1rem 0 #666666;
}

#nl-heading{
  background-color: blue;
  margin-bottom: 0;
}

form{
  background-color: blue;
  display: flex;
}

@media (min-width: 500px) {
  .postcard{
    width: 30rem;
    height: 25rem;
  }
}
